.container{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.inputContainer {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 20px;
    width: 90%;
    background-color: #efefef;
    transition: all 0.3s ease-in-out; /* スムーズな遷移 */
}