.container{
    height: 80vh;
    flex-direction: column;
    /* padding: 20px; */
    overflow: auto;
    display: flex;
    align-items: center;
    
  }
  
  .container1{
    height: 90vh;
    flex-direction: column;
    /* padding: 20px; */
    overflow: auto;
    display: flex;
    align-items: center;
    
  }
  
  .timestamp {
    text-align: center;
    margin-bottom: 8px; 
    color: #828282;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .leftMessage, .rightMessage {
    /* display: flex; */
    /* max-width: auto; */
    max-width: 70%;
    margin-bottom: 8px; 
    padding: 10px 16px;
    border-radius: 18px;
    position:relative;
    /* background-color: #8de608; */
  }
  
  .rightMessage {
    /* text-align: right; */
    margin-left: auto;
    background-color: #91CAD3;
    color: white;
    /* display: inline-block; こっちだと左に寄る*/
    width:fit-content;
    white-space: pre-wrap;
  }
  
  .leftMessage {
    margin-right: auto;
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    /* display: inline-block; */
    width:fit-content;
    white-space: pre-wrap;
  }
  
  .messageContainer {
    margin-bottom: 16px; 
    display: flex   ;
    justify-content: flex-start;
  }
