.container {
    background-color: #91CAD3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.kyoryu{
    display: flex;
    justify-content: center;
    padding-top: 35vh;
   
}