.container{
    width: 100vw;
    height: 100vh;
    background-color: white;
    
}
.mozi{
    font-family: "finalsix", sans-serif;
    font-weight: 500;
    font-style: normal;

    display: flex;
    justify-content: center;
    padding-top: 25vh;
    font-size: 30px;
}

.icon{
    display: flex;
    justify-content: center;
    padding-top: 35vh;
   
}

.load{
    display: flex;
    justify-content: center;
}
/* .icon{
    background: url("../../public/icon/asucoe_icon1.png") no-repeat;
} */