.container {
    height: 100vh;
    width: 100vw;
    /* display: flex;
    flex-direction: column; */
    background-color: rgb(255, 255, 255);
  } 

.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    /* width: 300px; */
    height: 400px;
    background-color: rgb(255, 253, 253);
    
}

.calendarHeader{
    display: flex;
    align-items: center; /* アイテムを中央揃え */
    gap: 10vw; /* アイコンと日付の間のスペース */
}

.calendarMonth {
    margin: 0; /* 余分なマージンを削除 */
    flex-grow: 1; /* 可能な限りのスペースを使用して中央に配置 */
    text-align: center;
    font-size: 1.1em;
}

.daysHeader {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.daysHeader > div, .days > div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 10px;
}

.days > div:hover {
    background-color: #eee;
}

.days > div:active {
    background-color: #ddd;
}

.today{
    background-color: azure;
}

.noteDisplay{
    /* padding-top: 10%; */
    /* height: 40vh; */
    text-align: center;
    background-color: rgb(255, 255, 255);
}