.container{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    
}

.inputContainer {
    position: relative;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 20px;
    /* width: 90%; */
    width: 150vw;
    background-color: #efefef;

    padding-left: 20vw;
 
}



.textFieldStyle {
    flex: 1;
    width: 90%;
    padding: 20px 10px;
    border: none; /* ボーダーを削除 */
    border-radius: 20px;
    outline: none;
    font-size: 1rem;
    background-color: #efefef;
    transition: all 0.3s ease-in-out; /* スムーズな遷移 */
}

.textFieldStyle:focus {
    background-color: #ebebeb; /* フォーカス時の背景色 */
    box-shadow: 0 0 5px #91CAD3;
}

.sendButton {
    position:absolute;
    /* position: relative; */
    bottom: -2px;
    right: 70px;
    height: fit-content;
    margin: 0;
}

