.container{
    height: 10vh;
    display: flex;
    justify-content: center;
    /* align-items: flex-end; */
    align-items: center;

    
}

.inputContainer {
    position: relative;
    display: flex;
     width: 80%;
    max-width: 800px;
    background-color: #efefef; 
}



.textFieldStyle {
    flex: 1;
    /* width: 100vw; */
    padding: 20px 10px;
    border: none; 
    border-radius: 20px;
    outline: none;
    font-size: 1rem;
    background-color: #efefef;
    transition: all 0.3s ease-in-out;
}

/* .textFieldStyle:focus {
    background-color: #ebebeb; 
    box-shadow: 0 0 5px #91CAD3;
} */


